@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
div{
	display: block;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	transition: all 0.3s ease;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/* ------------------------------------------------------------------------------
	 header
-------------------------------------------------------------------------------*/
.nav-banner{
	width: 950px;
	// height: 80px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	background: #6C87BE;
	padding-right: 15px;
	padding-left: 15px;
}
.list-title ul li a{
	float: right;
	margin-right: 25px;
	color: #fff;
	text-decoration: none;
}
.list-title ul li a:hover{
	color: #000;
}
.large-title{
	padding-left: 20px;
	padding-top: 5px;
	font-size: 35px;
	line-height: 35px;
}
.large-title a h1{
	text-decoration: none;
}
.list-title{
	font-size: 22px;
	line-height: 22px;
	padding-bottom: 8px;
	margin-right: -12px;
	// width: 63%;
	margin-top: -20px;
	// margin: 1% auto 0;
	display: block;
}
/*结尾*/
.foot-container{
	background: #6C87BE;;
	padding: 35px 0; 
}
.foot-content{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.foot-content p{
	margin: 0;
	color: #fff;
	font-size: 15px;
	text-align: center;
	margin-top: 15px;
	padding-bottom: 5px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
.container {}
.container .wrap-container{margin: auto;}

#main-content{}
#sidebar{}

.page-home{}
.page-home article{}/*--component.css--*/

.page-single {}
.page-single .wrap-container{background: #ffffff;}
.page-single #main-content{padding: 20px;}
.page-single #sidebar{padding: 20px;}
.page-single .art-related{margin-top: 30px; border-top : 1px solid; padding-top: 20px;}
.page-single .art-related span{font-size: 25px;}
.page-single .art-related img{display: inline-block; margin-bottom: 10px;}
.page-single .art-related h4{font-size: 16px; text-transform: capitalize;}
.page-single article{}/*--component.css--*/

#sidebar .widget{}/*--component.css--*/